.player-deck {
  display: flex;
  align-items: inherit;
  justify-content: left;
  flex-direction: row;
  padding: 5px;
  height: calc(100%-5px);
 }
 .player-deck > .cards {
  display: flex;
  align-items: inherit;
  justify-content: left;
  flex-direction: row;
  padding: 5px;
  height: calc(100% - 5px);
 }
 .player-deck > .cards > .card {
  margin: 5px;
 }
 .score {
   flex-grow: 1;
   display: flex;
   justify-content: center;
   height: 196px;
   align-items: center;
 }